.menu h2 {
  padding-top: 1.1875rem;
  padding-left: 2.0625rem;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  vertical-align: top;
  letter-spacing: 0.5px;
}

.submenu {
  padding-left: 2.0625rem;
}

.submenu p {
  padding-bottom: 1.1875rem;
}

.menu--closed,
.menu--opened {
  display: flex;
  justify-content: space-between;
}

.menu--closed button,
.menu--opened button {
  padding-right: 0.875rem;
}
.menu--opened-submenu {
  padding-left: 2.0625rem;
  padding-bottom: 1.1875rem;
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;

  font-size: 10px;
  line-height: 10px;
}

.menu--opened-submenu h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
