.hero {
  padding: 1.875rem 0 1.4375rem 0.81rem;
}

.hero .slide {
  white-space: nowrap;
  overflow-y: scroll;
}

.slide::-webkit-scrollbar {
  display: none;
}

.slide img {
  width: 7.37rem;
  height: 11.6875rem;
  object-fit: cover;
  margin-right: 0.75rem;
}

.slide img:last-child {
  margin-right: 0px;
}

.hero--card {
  display: inline-block;
  position: relative;
  text-align: center;
}

.hero--card h1 {
  position: absolute;
  bottom: 0.9rem;
  left: 47%;
  transform: translateX(-50%);

  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: white;
}
